*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    
}

.flex-container{
    display: flex;
}

.form {
    width: 70%;
    height: 100vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
 
}

.image {
    width: 30%;
    height: 100vh;
    background-image: url(./pictures/maxim-tajer-x3S1aGQNgro-unsplash.jpg);
    background-size: cover;
}

.band{
    margin-top: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    background-color: rgb(255, 255, 255,0.4);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.band > img{
    height: 100px;
    width: 100px;
    color-scheme: white;
    margin-left: -20px;
}

.band > .logo-text{
    margin-top: 10px;
    text-align: center;
    font-size: xx-large;
}

.cols{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 30px;
    border-width: 3px;
    box-shadow: 0 4px 6px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: box-shadow 0.3s ease;
    margin-top: 80px ;
    margin-bottom: 40px;
    font-size: 12px;
}   

button{
    margin-left: 50px;
    color: white;
    border-style: none;
    background-color: brown;
    padding: 10px 50px;
    border-radius: 5px;
    margin-bottom: 30px;
}

p{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    
}

.upper-text{
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
    text-wrap:wrap;
}

.bottom-text{
    margin-left: 50px;
    
}

span{
    font-weight:bold;
    font-size: large;
}

label{
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

input{
    border: 2px solid #E5E7EB;

}

input:focus{
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.051);
    background: transparent;
    border: 2px solid blue; 
    outline: none;
}

input:invalid{
    border: 2px solid red;
}